[submodule "spitfire"]
	path = spitfire
	url = https://github.com/Csardelacal/SpitfireEngine.git
[submodule "_SCSS"]
	path = assets/scss/_
	url = https://github.com/Csardelacal/underscoreSCSS.git
[submodule "m3js"]
	path = assets/js/m3
	url = https://github.com/Csardelacal/m3.js.git
